@{
  Layout = "_Layout";
}

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome Peirre,</h1>
    </div>
    <h2>Track your clients here!</h2>
    <h4><a href='/vendors/new'>Add a new Vendor</a></h4>
    <h4><a href='/vendors'>View Vendor List</a></h4>
  </div>

</body>